::placeholder {
  color: #bbb;
  text-align: left;
}

input {
  text-align: left;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  box-sizing: border-box;
}
body {
  overflow: hidden; /* 페이지 전체의 스크롤바를 숨김 */
}
